<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Jarif's Portfolio</title>
  </head>
  <body>
    <h1>Jarif</h1>
    <p>I am a students</p>
    <a href="/cv">CV</a>
    <a href="/projects">Projects</a>
  </body>
</html>
